* @georgehagstrom
/teams/team-1/    @cuny-sps-datascience/team-1-data-622-fall-2026
/teams/team-2/    @cuny-sps-datascience/team-2-data-622-fall-2026
/teams/team-3/    @cuny-sps-datascience/team-3-data-622-fall-2026
/teams/team-4/    @cuny-sps-datascience/team-4-data-622-fall-2026
/teams/team-5/    @cuny-sps-datascience/team-5-data-622-fall-2026
/teams/team-6/    @cuny-sps-datascience/team-6-data-622-fall-2026
/teams/team-7/    @cuny-sps-datascience/team-7-data-622-fall-2026
